body {
    background-color: #87CEEB; 
   
    
    
    margin: 0;
  }
  
#contenedor
{
    width: 500px;
    height: 500px;
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#cabeza
{
    background-color: brown;
    border-radius: 50%;
    width: 230px;
    height: 200px;
    position: relative;
    left: 500px;


}
#ojo1
{
    right: 27%;
    
    height: 16px;
    width: 10px;
    background-color: black;
    position: absolute;
    border-radius: 5px;
    top: 45%;
}

#ojo2
{
    left: 27%;
    
    height: 16px;
    width: 10px;
    background-color: black;
    position: absolute;
    border-radius: 5px;
    top: 45%;
}
#nariz
{
    background-color: black;
    border-radius: 50%;
    width: 15%;
    height: 15%;
    position: relative;
    left: 42%;
    top: 50%;
}
#boca
{
    background-color: pink;
    border-radius: 50%;
    width: 35%;
    height: 15%;
    position: relative;
    left: 34%;
    top: 54%;
}
#panza
{
    background-color: brown;
    border-radius: 50%;
    width: 380px;
    height: 360px;
    position: relative;
    left: 430px;
}
#barriga
{
    background-color: rgb(230, 172, 150);
    border-radius: 50%;
    width: 230px;
    height: 270px;
    position: relative;
    left: 70px;
    top: 40px;
}

